html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-panel {
    margin: 0 5% 0 5%;
}

@keyframes mymove {
    from {
        left: 100px;
        height: 0px;
        opacity: 0;
        border-bottom: 0px;
    }

    to {
        height: auto;
    }
}

ul.navbar-nav .nav-item:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}

.navbar-nav .nav-item:hover:after {
    width: 100%;
    background: #0d6efd;
}

.seat-row {
    width: 100%;
    margin: 0pt 0pt 0pt 0pt;
    text-align: center;
    vertical-align: central;
}

.seat-col {
    vertical-align: central;
    text-align: center;
    padding: 5px;
}
.seat-place {
    box-sizing: content-box;
    width: 16pt;
    height: 16pt;
    padding: 2pt;
}
 
.hall-view {
    min-width: 600px;
}